@use "styles/reset";
@use "styles/config";
@use "styles/fonts";

body {
  font-family: 'Geometria', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  font-weight: 500;
  letter-spacing: -0.5px;

  color: var(--text);
  background: var(--bg);
}